.preloader
    .loader
        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" class='preloader-svg' viewbox='0 0 88 88')
            g(stroke-linecap='round')
                circle(cx='50%' cy='50%' r='32%' id='preloader-circle')
                circle(cx='50%' cy='50%' r='40%' id='preloader-circle')
                circle(cx='50%' cy='50%' r='48%' id='preloader-circle')
        .preloader__persents 0%