.hamburger-menu
    .hamburger-menu__bg-right
    .hamburger-menu__bg-left
    .hamburger-menu__center
        ul.hamburger-menu__list
            li.hamburger-menu__item
                a(href="portfolio.html" class='hamburger-menu__link hamburger-menu__link--first') Мои работы
            li.hamburger-menu__item
                a(href="blog.html" class='hamburger-menu__link') Блог
            li.hamburger-menu__item
                a(href="about.html" class='hamburger-menu__link') Обо мне
            li.hamburger-menu__item
                a(href="index.html" class='hamburger-menu__link') Авторизация