.parallax
    .parallax__layer
        //- img(src=('/assets/images/Mountin_Layer_1.png') class='parallax__img')
        picture.parallax__img()
            source(srcset=('/assets/images/Mountin_Layer_1.webp'))
            img(srcset=('/assets/images/Mountin_Layer_1.png'))