.modal-portfolio#modal__portfolio
    .modal-portfolio__window.modal__window
        img.modal-portfolio__cross.modal__close(src=('/assets/images/icons/close_cross.svg'))
        p.modal-portfolio__text.modal__text