.footer
    .footer__block
        .footer__description
            span Этот сайт сделан в рамка обучения в Школе онлайн обучения Loftscoll
    .footer__block
        ul.footer__navigation
            each item in [["Мои работы", "portfolio"], ["Обо мне", "about"], ["Блог", "blog"], ["Авторизация", "/"]]
                li.footer__navigation-item
                    a.footer__navigation-link(href=item[1])= item[0]
        .footer__social
            include ../social/social
    .footer__block
        .footer__contact
            p.footer__contact-text skype_ruslanmust
            p.footer__contact-text ruslanmust87@gmail.com
            p.footer__contact-text 8-999-133-75-57
            p.footer__contact-text Чишмы Чернышевского 19
    .footer__bottom 
        p &copy; Руслан Мустафин | Создано с любовью в Loftscool | 2020
        