form.form(action="")
    h1.form__title.title.title_text-transform-uppercase.title_font-size-35  Связатся со мной
    .form__line.line
    input.form__name(type="text" id='name' name='name'  placeholder='Ваше имя')
    input.form__email(type='email' id='email' name='email' placeholder='Ваш email')
    textarea.form__message(name="message")
    input.form__submit(type='submit' value='Отправить')
    input.form__reset(type='reset' value='Очистить')