extends ../base

block  var
    - var title = "Обо мне"
    - var authorDescription = 'Личный сайт веб-разработчика'
    - var page = 'about'
    
block content
    main.main.main-about
        include ../components/blocks/hamburger_menu/hamburger_menu.pug
        section.section.hero
            .hero__hamburger.hamburger-icon
                include ../../public/assets/images/icons/hamburger.svg
            .hero__social
                include ../components/blocks/social/social
            img.hero__img(src=('/assets/images/icons/stars1.svg') alt="")
            .hero__user
                include ../components/blocks/author_title/author_title
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="hero__traingle")
                polygon(class = "left" points="0,0   0,86   500.8,86   500.8,75.5" fill="#f2f0e8")
                polygon(class = "hero__traingle-right" points="1000,0   1000,86   500,86   500,75.5" fill="#eae8e2")
            .hero__arrow.arrow__down
                include ../../public/assets/images/icons/arrow_down.svg
        section.section.about-me
            .about-me__left
                .about-me__left-left
                    img.about-me__img(src=('/assets/images/icons/stars2.svg') alt="")
                    h1.about-me__left-title.title.title_color-gray.title_font-size-63.title_text-transform-uppercase Обо мне
                .about-me__left-right
                    //- img.about-me__pic(src=require("../../public/assets/images/photo.jpg") srcset=require("../../public/assets/images/photo_x0.5.jpg 480w") alt='Руслан Мустафин')
                    picture.about-me__pic
                        source(media="(max-width: 480px)" srcset=('/assets/images/my_photo_x0.5.jpg'))
                        img(src=('/assets/images/my_photo.jpg') alt="Фото Руслан Мустафин" width='100%' height='100%')
                    picture
                    h2.about-me__left-title-h2.title.title_color-gray.title_font-size-35.title_text-transform-uppercase Кто я
                    .about-me__line.line
                    .about-me__text
                        p  Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about-me__right
                h2.about-me__right-title-h2.title.title_color-gray.title_font-size-35.title_text-transform-uppercase.title_width-280 Чем я могу быть вам полезен
                .about-me__line.line
                .about-me__text.about-me__text-right
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                ul.about-me__skills
                    li.about-me__skill-item()
                        h3.about-me__title-h3.title.title_color-gray.title_font-size-28.title_text-align-left Frontend
                        img(src=('/assets/images/icons/sprite_skills.svg') id='sprite__skills')
                        .about-me__skills-container
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_html")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_html" class="text_html")
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg" )
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_css")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_css" class="text_css")
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_js")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_js" class="text_js")
                    li.about-me__skill-item()
                        h3.about-me__title-h3.title.title_color-gray.title_font-size-28.title_text-align-left Backend
                        .about-me__skills-container
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_php")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_php" class="text_php")
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_mySQL")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_mySQL" class="text_mySQL")
                            svg.about-me_skill-img.about-me_skill-img-previous-2(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_node")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_node" class="text_node")
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_mongo")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_mongo" class="text_mongo")
                    li.about-me__skill-item()
                        h3.about-me__title-h3.title.title_color-gray.title_font-size-28.title_text-align-left WorkFlow
                        .about-me__skills-container
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_git")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_git" class="text_git")
                            svg.about-me_skill-img.about-me_skill-img-previous-1(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_gulp")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_gulp" class="text_gulp")
                            svg.about-me_skill-img(viewBox='0 0 120 120')
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill_bg" class="skill_bg")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#skill" class="skills_bower")
                                use(xlink:href="/assets/images/icons/sprite_skills.svg#text_bower" class="text_bower")
        section.section.map
            .map__top
                .map__contacts.contacts
                    .contacts-title.title.title_color-gray.title_text-transform-upprcase.title_font-size-35 Контакты
                    .contacts__line.line
                    img(src=('/assets/images/icons/sprite_contacts.svg') id='sprite_contacts')
                    ul.contacts__list
                        li.contacts__item
                            svg.contacts__img
                                use(xlink:href="/assets/images/icons/sprite_contacts.svg#skype_n")
                            .contacts__description skype_ruslanmust
                        li.contacts__item
                            svg.contacts__img
                                use(xlink:href="/assets/images/icons/sprite_contacts.svg#phone_n")
                            .contacts__description 8-999-133-75-57
                        li.contacts__item
                            svg.contacts__img
                                use(xlink:href="/assets/images/icons/sprite_contacts.svg#envelope_n")
                            .contacts__description ruslanmust87@gmail.com
                        li.contacts__item
                            svg.contacts__img
                                use(xlink:href="/assets/images/icons/sprite_contacts.svg#map_n")
                            .contacts__description Чишмы Социалистическая 9                                                                                                                                                                                                                       
            .map__bottom
                include ../components/blocks/footer/footer.pug
