extends ../base

block  var
    - var title = "Блог"
    - var authorDescription = 'Статьи, которые я написал'
    - var page = 'blog'
    
block content
    main.main.main__blog
        include ../components/blocks/hamburger_menu/hamburger_menu.pug
        section.hero-blog
            .blog__social
                include ../components/blocks/social/social
            .blog__hamburger.hamburger-icon
                include ../../public/assets/images/icons/hamburger.svg
            .blog__user
                .author-title
                    img.author-title__img(src=('/assets/images/avatar_photo.jpg') alt='Руслан Мустафин')
                    .author-title__name Руслан Мустафин
                    .author-title__description Сайты, которые я написал
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="hero__traingle")
                polygon(class = "left" points="0,0   0,86   500.8,86   500.8,75.5" fill="#f2f0e8")
                polygon(class = "right" points="1000,0   1000,86   500,86   500,75.5" fill="#f2f0e8")
        section.blog-content
            .blog-content__top.clearfix
                .blog-content__left
                    .blog-content__left-toggle
                    ul.blog-content__menu.menu-acco
                        li.menu-acco__item.acco__item-active 
                            .menu-acco__description Самое важное в SASS
                        li.menu-acco__item
                            .menu-acco__description Приемы верстки, без которых не обходится не один сайт
                        li.menu-acco__item 
                            .menu-acco__description Самые необходимый набор Webpack плагинов
                        li.menu-acco__item 
                            .menu-acco__description Почему я выбрал Pug
                .blog-content__right
                    .blog-content__container
                        .blog-content__articles
                            .blog__content-item.title.title_color-gray.title_text-align-left.title_font-size-35 Самое важное в SASS
                            time.blog-content__time 22 ноября 2017
                            .blog-content__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                br
                                br
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src=("/assets/images/code_pic.png") class="blog-content__code-pic")
                            .blog-content__line
                            .blog__content-item.title.title_color-gray.title_text-align-left.title_font-size-35 Приемы верстки, без которых не обходится не один сайт
                            time.blog-content__time 22 ноября 2017
                            .blog-content__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                br
                                br
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .blog-content__line
                            .blog__content-item.title.title_color-gray.title_text-align-left.title_font-size-35 Самые необходимый набор Webpack плагинов
                            time.blog-content__time 22 ноября 2017
                            .blog-content__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                br
                                br
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .blog-content__line
                            .blog__content-item.title.title_color-gray.title_text-align-left.title_font-size-35 Почему я выбрал Pug
                            time.blog-content__time 22 ноября 2017
                            .blog-content__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                br
                                br
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog-content__bottom.blog__footer
                include ../components/blocks/footer/footer        

        

