.author-title
    img.author-title__img(src=('/assets/images/avatar_photo.jpg') alt='Руслан Мустафин')
    .author-title__name Руслан Мустафин
    .author-title__description Личный сайт веб-разработчика