extends ../base

block  var
    - var title = "Добро пожаловать!"
    - var authorDescription = 'Личный сайт веб-разработчика'
    - var page = 'portfolio'
    
block content
    main.main.main-portfolio
        include ../components/blocks/hamburger_menu/hamburger_menu.pug
        section.section.hero
            .hero__hamburger.hamburger-icon
                include ../../public/assets/images/icons/hamburger.svg
            .hero__social
                include ../components/blocks/social/social
            img.hero__img-stars-1(src=('/assets/images/icons/stars1.svg'), alt="")
            .hero__user
                .author-title
                    include ../components/blocks/author_title/author_title
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 180" preserveAspectRatio='none' class="hero__traingle")
                polygon(class = "left" points="0,0   0,180   500,180   500,75" )
                polygon(class = "right" points="1000,0   1000,180  500,180   500,75" )
            img.hero__img-stars-2(src=('/assets/images/icons/stars2.svg') alt="")
            h1.hero__title.title.title_text-transform-uppercase.title_font-size-63 Мои работы
            img.hero__arrow.arrow(src=('/assets/images/icons/arrow_down.svg'))
        section.section.portfolio-content
                .portfolio-content__slider
                    include ../components/blocks/slider/slider.pug
        section.portfolio-contact
            .portfolio-contact__top
                img.portfolio-contact__img(src=('/assets/images/icons/stars3.svg') alt='')
                h1.portfolio-contact__title.title.title_font-size-63.title_text-transform-uppercase Что обо мне говорят
                .portfolio-contact__features
                    .portfolio-contact__features-item.portfolio-contact__features-item_float-left
                        .portfolio-contact__photo.portfolio-contact__photo_kovalchuk
                        blockquote.portfolio-contact__features-text 
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        cite.portfolio-content__quote-writer
                            | Ковальчук Дмитрий
                        cite.portfolio-content__quote-writer-profesion
                            | - основатель Loftschool
                    .portfolio-contact__features-item.portfolio-contact__features-item_float-right
                        .portfolio-contact__photo.portfolio-contact__photo_sabancev
                        blockquote.portfolio-contact__features-text
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        cite.portfolio-content__quote-writer
                            | Сабанцев Владимир
                        cite.portfolio-content__quote-writer-profesion
                            | - преподователь
                .portfolio-contact__form
                    .portfolio-contact__form-blur
                    include ../components/blocks/form/form.pug
                .portfolio-contact__arrow
                    img.arrow.arrow_direction-up(src=('/assets/images/icons/arrow_down.svg'))
            .portfolio-contact__footer
                include ../components/blocks/footer/footer.pug
        include ../components/blocks/modal/modal.pug
